{
  "presets": ["@vue/babel-preset-app"],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ],
  "ignore": ["src/preload/*"]
}
