* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

:root {
  --color-text: #213547;
  --color-bg: #fff;

  color: var(--color-text);
  background-color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
    --color-bg: #303133;
  }
}
